.el-dialog__body {
    padding: 10px 30px;
}
.el-form-item__label {
    font-weight: 600;
}
.ma-inline-form-item {
    margin-bottom: 0;
}
.el-table thead th {
    background: #f8fafe !important;
    color: #5a657c; font-size: .8rem;
    border-bottom: 1px solid #dfe6ec;
    height: 20px; line-height: 20px;
    border-radius: 3px 3px 0 0;
}
.el-table .fixed-width .el-button--mini {
	padding-left: 0;
	padding-right: 0;
	width: inherit;
}
.el-table__header .el-table-column--selection>.cell:nth-child(1) {
    padding-left: 15px !important;
}
.el-textarea > textarea {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.ma-tree-border {
    border: 1px solid #e5e6e7;
    border-radius:4px;
}
.el-card.ma-card {
    border: 1px solid #dfe6ec !important;
}
.ma-card {
    margin-top: 10px; 
}
.el-drawer__body {
    padding: 0 20px;
}
.ma-card .el-card__header {
    background: #f8fafe !important;
    padding: 12px 17px;
    border-bottom: 1px solid #dfe6ec !important;
}

.ma-highlight {
    padding: 20px !important;
    font-family: Consolas;
    font-size: 12px;
    line-height: 18px;
}

.input-w-500 {
    width: 500px;
}

.tips {
    font-size: 12px;
    line-height: 12px;
    color: #888;
}

.text-right{
    text-align: right;
}

.font-bold {
    font-weight: bold;
}

.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}