.el-dialog__body {
    padding: 10px 30px;
}
.el-form-item__label {
    font-weight: 600;
}
.ma-inline-form-item {
    margin-bottom: 0;
}
.el-table thead th {
    background: #f8fafe !important;
    color: #5a657c; font-size: .8rem;
    border-bottom: 1px solid #dfe6ec;
    height: 20px; line-height: 20px;
    border-radius: 3px 3px 0 0;
}
.el-table .fixed-width .el-button--mini {
	padding-left: 0;
	padding-right: 0;
	width: inherit;
}
.el-table__header .el-table-column--selection>.cell:nth-child(1) {
    padding-left: 15px !important;
}